<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <title>Show Items</title>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width"/>
      <link rel="stylesheet" href="css/main.css"/>
      <script src="js/lib/modernizr.min.js"></script>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="row-fluid">
          <h1>Items</h1>
          <div id="list" class="accordion"></div>
      </div>
    </div>
    <script type="text/template" id="item-template">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="list" href="#<%= id %>"><%= text %></a>
      </div>
      <div id="<%= id %>" class="accordion-body collapse">
        <div class="accordion-inner"><%= description %></div>
      </div>
    </script>
    <script data-main="js/show" src="js/lib/require.js"></script>
  </body>
</html>
